/.cache
/dist
/node_modules
/.DS_Store
/.idea/
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Seedmanc\GitHub\floz\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
